{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'crud/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'crud/css/style.css' %}">
</head>

<body>
    {% block content %}

    {% endblock content %}
</body>

</html>