{% extends 'base.html' %}
{% block title %}Add book{% endblock title %}

{% block content %}
<div class="container">
    <div class="small_div">
        <br>
        <h2>Add new book</h2>
        <hr>
        <form action="{% url 'add' %}" method="POST">
            {% csrf_token %}
            <label class="form-group" for="title">Title: </label>
            <input class="form-control" type="text" name="title"><br>

            <label class="form-group" for="price">Price: </label>
            <input class="form-control" type="text" name="price"><br>

            <label class="form-group" for="author">Author: </label>
            <input class="form-control" type="text" name="author"><br>

            <input class="btn btn-success" type="submit" value="Add book">

        </form>
        <br>

    </div>
</div>

{% endblock content %}